<!--   <div class="panel-heading"> 
     <h4 class="modal-title" >{{title}}</h4>
  </div> -->
<!-- <div class="panel panel-danger"> 
  <div class="panel-body"> 
    <p style="font-size:160%">{{body}}</p>
    <div class="text-right text-bottom">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
      <button type="button" class="btn btn-primary" ng-click="ok()">Confirmar</button>
    </div>
  </div>
</div> -->
  <!-- </div> -->

<!-- <div id="confirm" class="modal hide fade"> -->
<div class="panel panel-danger"> 
  <div class="modal-body">
    Desea ingresar en modo fuera de linea ?
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete" ng-click="ok()">Si</button>
    <button type="button" data-dismiss="modal" class="btn" ng-click="cancel()" >No</button>
  </div>
</div>
