<!-- Content Wrapper. Contains page content -->
<div style="min-height:970px">



  <!-- Content Header (Page header) -->
  <section class="content-header">   
    <h1>
      Adm. Usuarios
      <small>Listado de usuarios</small>
    </h1>
    <ol class="breadcrumb">
      <li><i class="glyphicon glyphicon-user"></i> Adm. Usuarios</li>
      <li class="active">Listar</li>
    </ol>
  </section>

  <section class="content">
    <div class="row col-lg-offset-1" style="padding-top: 5px;" >
       <div class="col-lg-11 col-md-10">
        <div class="box">           
            <div class="box-body ">            
              <div class="tableScroll">
                <table id="listaAuditorias"  datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped table-hover " width="100%"></table> 
              </div> 
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>
    </div>
   
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

