<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper" style="min-height:970px"> -->
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Contratos
      <small>Ingresar un nuevo contrato</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-truck"></i> Contrato</a></li>
      <li class="active"><a href="#">Ingresar Contrato</a></li>
    </ol>
  </section>

  <section class="content">
   <!-- ng-show="razonSocial !== undefined" -->
    <div class="row col-lg-offset-1" style="padding-top: 5px;">
        <div class="col-lg-9" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    Datos del nuevo contrato
                </div>
                <div class="panel-body">
                  <form name="contratoForm" novalidate>
                        <div class="panel box box-primary">
                          <div class="box-header with-border">
                            <h4 class="box-title">
                              <a ng-click="datosPersonalesIsCollapsed = !datosPersonalesIsCollapsed">
                                Datos Personales
                              </a>
                            </h4>
                          </div>
                          <div collapse="datosPersonalesIsCollapsed">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label>CI/Pasaporte/RUT <small>(Sin puntos ni guiones)</small> </label>
                                  <input class="form-control" type = "number" name="ciCliente" ng-model="contrato.ciCliente" required>
                                  <p class="help-block"></p>
                                  <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.ciCliente.$error.number"> &nbsp;&nbsp;Ingrese la cedula o pasaporte sin puntos ni guiones</span>
                                  <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.ciCliente.$error.required"> &nbsp;&nbsp;Debe ingresar un número de cedula, pasaporte o RUT</span>
                                  <span style="color:red" class="error" ng-if="errorLargoCiUru"> &nbsp;&nbsp;La cedula ingresada tiene mas de 8 digitos</span>
                                  <span style="color:red" class="error" ng-if="errorLargoCiBra"> &nbsp;&nbsp;La cedula ingresada tiene mas de 9 digitos</span>
                                  <span style="color:red" class="error" ng-if="errorLargoRUT"> &nbsp;&nbsp;El RUT ingresado tiene mas de 12 digitos</span>
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label>Tipo de documento</label>
                                    <select class="form-control"  ng-model="contrato.tipoCi" name="tipoCi">
                                        <option value="">CI</option>
                                        <option value="1">Pasaporte</option>
                                        <option value="2">CI brasilera</option>
                                        <option value="3">RUT</option>
                                    </select>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nombres</label> 
                                    <input class="form-control" name="nombres" ng-model="contrato.nombres" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-6" ng-show="contrato.tipoCi !== '3' ">
                                <div class="form-group">
                                    <label>Apellidos</label> 
                                    <input class="form-control" name="apellidos" ng-model="contrato.apellidos"  >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6" ng-show="contrato.tipoCi !== '3'">
                                <div class="form-group">
                                <label>Fecha de nacimiento</label>
                                    <input class="form-control" ng-model="contrato.fechaNacimiento" type="date" >
                                    <p class="help-block"></p>    
                                  </div>
                              </div> 

                              <div class="col-lg-6" ng-show="contrato.tipoCi !== '3' ">
                                  <div class="form-group">
                                    <label>Genero</label>
                                      <select class="form-control"  name="genero" ng-model="contrato.genero">
                                          <option value="">Seleccione genero</option>
                                          <option value="1">F</option>
                                          <option value="2">M</option>
                                      </select>
                                    <span style="color:red" class="error" ng-if="errorGeneroRequerido"> &nbsp;&nbsp;Seleccione genero</span>
                                  </div>
                                  
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Telefono fijo</label> 
                                    <input class="form-control" type="number" name="telefonoFijo" ng-maxlength="8" ng-model="contratoAux.telefonoFijo" >
                                    <p class="help-block"></p>
                                </div>
                                <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.telefonoFijo.$error.maxlength"> &nbsp;&nbsp;El telefono ingresado tiene mas de 8 digitos</span>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Celular</label> 
                                    <input class="form-control" type="number" name="celular" ng-minlength="9" ng-maxlength="9" ng-model="contratoAux.celular" >
                                    <p class="help-block"></p>
                                    <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.celular.$error.minlength"> &nbsp;&nbsp;El celular ingresado tiene menos de 9 digitos</span>
                                    <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.celular.$error.maxlength"> &nbsp;&nbsp;El celular ingresado tiene mas de 9 digitos</span>
                                    </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group" ng-class="{ 'has-error' : contratoForm.email.$invalid }">
                                  <label>Email</label>
                                  <input class="form-control" type="email" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  ng-model="contrato.email">
                                  <p ng-show="contratoForm.email.$invalid" class="help-block">Debe ingresar un email válido </p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Tipo de tramite</label>
                                      <select class="form-control" name="tipoTramite" ng-model="contratoAux.tipoTramite" required>
                                          <option value="">Seleccione un tipo de tramite</option>
                                          <option value="0">Cambio de agente y cambio de producto</option>
                                          <option value="1">Cambio de agente</option>
                                          <option value="2">Cambio de producto</option>
                                          <option value="3">Cambio de titularidad</option>
                                          <option value="4">Nuevo servicio</option>
                                      </select>
                                      <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.tipoTramite.$error.required"> &nbsp;&nbsp;Seleccione un tipo de tramite</span>
                                  </div>
                              </div>  
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group" ng-show="contratoAux.tipoTramite !== '2'">
                                    <label>Servicio cambio de agente</label>
                                      <select class="form-control"  ng-model="contratoAux.servicioCambioAgente">
                                          <option value="">Seleccione un servicio</option>
                                          <option ng-repeat="servicio in serviciosCambioAgente" value="{{servicio.nombre}}" >{{servicio.nombre}}</option>
                                      </select>
                                </div>
                              </div>

                              <div class="col-lg-6" ng-show="contratoAux.tipoTramite !== '1' " ng-hide= "contratoAux.tipoTramite == '3' " ng-if="contratoAux.tipoTramite !== '4'" >
                                <div class="form-group" >
                                    <label>Servicio cambio de producto</label>
                                      <select class="form-control"  ng-model="contratoAux.servicioCambioProducto">
                                          <option value="">Seleccione un servicio</option>
                                          <option ng-repeat="servicio in serviciosCambioProducto" value="{{servicio.nombre}}" >{{servicio.nombre}}</option>
                                      </select>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group" ng-show="contratoAux.tipoTramite!=='1'">
                                    <label>Plazo contractual</label>
                                      <select class="form-control" name="plazo" ng-model="contratoAux.plazo">
                                          <option value="">Seleccione plazo contractual</option>
                                          <option value="1">1 año</option>
                                          <option value="2">2 años</option>
                                          <option value="3">Mantiene vigencia plan actual</option>
                                          <option value="4">Sin plazo contractual</option>
                                      </select>
                                      <span style="color:red" class="error" ng-if="errorFaltaPlazo"> &nbsp;&nbsp;Seleccione un plazo contractual</span>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="checkbox" ng-show="contratoAux.tipoTramite !== '1'" ng-hide= "contratoAux.tipoTramite == '3'" ng-if="contratoAux.tipoTramite !== '4'">
                                  <label></label>
                                  <label><input type="checkbox" value="" ng-init="aplicaTarifa=false" 
                                          ng-model="aplicaTarifa">Aplica tarifa cambio de producto</label>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="checkbox" ng-show="contratoAux.tipoTramite == '4'">
                                  <label></label>
                                  <label><input type="checkbox" value="" ng-init="aplicaTarifaNuevoServicio=false" 
                                          ng-model="aplicaTarifaNuevoServicio">Aplica tarifa nuevo servicio</label>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <div class="panel box box-info">
                          <div class="box-header with-border">
                            <h4 class="box-title">
                              <a ng-click="domicilioIsCollapsed = !domicilioIsCollapsed">
                                Datos del domicilio
                              </a>
                            </h4>
                          </div>
                          <div collapse="domicilioIsCollapsed">  
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Localidad</label> 
                                    <input class="form-control" name="localidad" ng-model="contrato.localidad" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label>Departamento</label>
                                    <select class="form-control"  ng-model="contrato.departamento" name="domicilioDepartamento">
                                        <option value="">MONTEVIDEO</option>
                                        <option ng-repeat="dep in departamentos" value="{{dep.nombre}}" >{{dep.nombre}}</option>
                                    </select>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Calle</label> 
                                    <input class="form-control" name="calle" ng-model="contrato.calle" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Número de puerta</label> 
                                    <input class="form-control" name="numPuerta" ng-model="contrato.nroPuerta" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Apto</label> 
                                    <input class="form-control" name="apto" ng-model="contrato.apto" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Padrón</label> 
                                    <input class="form-control" name="padron" ng-model="contrato.padron" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Manzana</label> 
                                    <input class="form-control" name="manzana" ng-model="contrato.manzana" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Solar</label> 
                                    <input class="form-control" name="solar" ng-model="contrato.solar" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="panel box box-info">
                          <div class="box-header with-border">
                            <h4 class="box-title">
                              <a ng-click="domicilioInstalacionIsCollapsed = !domicilioInstalacionIsCollapsed">
                                Domicilio de Instalación
                              </a>
                            </h4>
                          </div>
                          <div collapse="domicilioInstalacionIsCollapsed">  

                            <div class="row">
                              <div class="checkbox">
                                <label></label>
                                <label><input type="checkbox" value="" ng-init="mantenerDomicilioInstalacion=true" 
                                        ng-model="mantenerDomicilioInstalacion">Mantener domicilio del cliente</label>
                              </div>
                            </div>
                            <div class="row" ng-show = "!mantenerDomicilioInstalacion">
                              <div class="col-lg-6">
                                <div class="form-group" >
                                    <label>Localidad</label> 
                                    <input class="form-control" name="localidad" ng-model="contrato.domicilio.localidad" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label>Departamento</label>
                                    <select class="form-control"  ng-model="contrato.domicilio.departamento" >
                                        <option value="">MONTEVIDEO</option>
                                        <option ng-repeat="dep in departamentos" value="{{dep.nombre}}" >{{dep.nombre}}</option>
                                    </select>
                                </div>
                              </div>
                            </div>

                            <div class="row" ng-show = "!mantenerDomicilioInstalacion">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Calle</label> 
                                    <input class="form-control" name="calle" ng-model="contrato.domicilio.calle" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Número de puerta</label> 
                                    <input class="form-control" name="numPuerta" ng-model="contrato.domicilio.nroPuerta" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Apto</label> 
                                    <input class="form-control" name="apto" ng-model="contrato.domicilio.apto" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row" ng-show = "!mantenerDomicilioInstalacion" >
                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Padrón</label> 
                                    <input class="form-control" name="padron" ng-model="contrato.domicilio.padron" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Manzana</label> 
                                    <input class="form-control" name="manzana" ng-model="contrato.domicilio.manzana" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Solar</label> 
                                    <input class="form-control" name="solar" ng-model="contrato.domicilio.solar" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="panel box box-info">
                          <div class="box-header with-border">
                            <h4 class="box-title">
                              <a ng-click="facturaIsCollapsed = !facturaIsCollapsed">
                                Envío de factura
                              </a>
                            </h4>
                          </div>
                          <div collapse="facturaIsCollapsed">  

                            <div class="row">
                              <div class="checkbox">
                                <label></label>
                                <label><input type="checkbox" value="" ng-init="mantenerDomicilioFactura=true" 
                                        ng-model="mantenerDomicilioFactura">Mantener domicilio del cliente</label>
                              </div>
                            </div>
                            <div class="row" ng-show = "!mantenerDomicilioFactura">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Localidad</label> 
                                    <input class="form-control" name="localidad" ng-model="contrato.factura.localidad" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label>Departamento</label>
                                    <select class="form-control"  ng-model="contrato.factura.departamento" >
                                        <option value="">MONTEVIDEO</option>
                                        <option ng-repeat="dep in departamentos" value="{{dep.nombre}}" >{{dep.nombre}}</option>
                                    </select>
                                </div>
                              </div>
                            </div>

                            <div class="row" ng-show = "!mantenerDomicilioFactura">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Calle</label> 
                                    <input class="form-control" name="calle" ng-model="contrato.factura.calle" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Número de puerta</label> 
                                    <input class="form-control" name="numPuerta" ng-model="contrato.factura.nroPuerta" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Apto</label> 
                                    <input class="form-control" name="apto" ng-model="contrato.factura.apto" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row" ng-show = "!mantenerDomicilioFactura" >
                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Padrón</label> 
                                    <input class="form-control" name="padron" ng-model="contrato.factura.padron" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Manzana</label> 
                                    <input class="form-control" name="manzana" ng-model="contrato.factura.manzana" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Solar</label> 
                                    <input class="form-control" name="solar" ng-model="contrato.factura.solar" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="panel box box-info">
                          <div class="box-header with-border">
                            <h4 class="box-title">
                              <a ng-click="remitoIsCollapsed = !remitoIsCollapsed">
                                Datos del remito
                              </a>
                            </h4>
                          </div>
                          <div collapse="remitoIsCollapsed">  

                            <div class="row">
                              <div class="checkbox">
                                <label></label>
                                <label><input type="checkbox" value="" ng-init="mantenerDomicilioRemito=true" 
                                        ng-model="mantenerDomicilioRemito">Mantener domicilio del cliente</label>
                              </div>
                            </div>
                            <div class="row" ng-show = "!mantenerDomicilioRemito">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Localidad</label> 
                                    <input class="form-control" name="localidad" ng-model="contrato.remito.localidad" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label>Departamento</label>
                                    <select class="form-control"  ng-model="contrato.remito.departamento" >
                                        <option value="">MONTEVIDEO</option>
                                        <option ng-repeat="dep in departamentos" value="{{dep.nombre}}" >{{dep.nombre}}</option>
                                    </select>
                                </div>
                              </div>
                            </div>

                            <div class="row" ng-show = "!mantenerDomicilioRemito">
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Calle</label> 
                                    <input class="form-control" name="calle" ng-model="contrato.remito.calle" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Número de puerta</label> 
                                    <input class="form-control" name="numPuerta" ng-model="contrato.remito.nroPuerta" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Apto</label> 
                                    <input class="form-control"  name="apto" ng-model="contrato.remito.apto" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row" ng-show = "!mantenerDomicilioRemito" >
                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Padrón</label> 
                                    <input class="form-control" name="padron" ng-model="contrato.remito.padron" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Manzana</label> 
                                    <input class="form-control" name="manzana" ng-model="contrato.remito.manzana" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Solar</label> 
                                    <input class="form-control" name="solar" ng-model="contrato.remito.solar" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row" >
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Esquina 1</label> 
                                    <input class="form-control" name="padron" ng-model="contrato.remito.esquina1" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Esquina 2</label> 
                                    <input class="form-control" name="manzana" ng-model="contrato.remito.esquina2" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class="row" >
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Fecha de visita</label> 
                                    <input class="form-control" ng-model="contrato.remito.fechaVisita" type="date" >
                                    <p class="help-block"></p> 
                                </div>
                              </div>
                            </div>

                            <div class="row" >
                              <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Hora de visita</label> 
                                    <select class="form-control"  ng-model="contrato.remito.cuando">
                                          <option value="">Seleccione horario de visita</option>
                                          <option value="1">A partir de</option>
                                          <option value="2">Entre</option>
                                          <option value="3">Hasta</option>
                                      </select>
                                </div>
                              </div>

                              <div class="col-lg-3" >
                                <div class="form-group"> 
                                    <label></label>
                                    <input class="form-control" name="hora1" ng-model="contrato.remito.hora1" >
                                    <p class="help-block"></p>
                                </div>
                              </div>

                              <div class="col-lg-1" ng-show="contrato.remito.cuando=='2'">
                                <div class="form-group"> 
                                    <label></label><br>
                                    <label>y</label>
                                </div>
                              </div>

                              <div class="col-lg-3" ng-show="contrato.remito.cuando=='2'">
                                <div class="form-group"> 
                                    <label></label>
                                    <input class="form-control" name="hora2" ng-model="contrato.remito.hora2" >
                                    <p class="help-block"></p>
                                </div>
                              </div>
                            </div>

                            <div class = "row">
                              <div class="col-lg-12">
                                <div class="form-group">
                                  <label>Observaciones</label>
                                  <textarea class="form-control" rows="5" ng-model="contrato.remito.comentarios"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br/>
                      <div class="row">
                        <div class="col-lg-12">
                          <button class="btn btn-primary" type="submit" ng-click="crearContrato()">Crear</button>
                          <span style="color:red" class="error" ng-if="contratoForm.$submitted && contratoForm.ciCliente.$error.required || contratoForm.$submitted && contratoForm.ciCliente.$error.maxlength || contratoForm.$submitted && contratoForm.ciCliente.$error.number || contratoForm.$submitted && contratoForm.celular.$error.minlength || mostrarErrorForm|| contratoForm.$submitted && contratoForm.telefonoFijo.$error.maxlength"> &nbsp;&nbsp;Por favor corrija el formulario</span>
                        </div>
                      </div>
                  </form>
                </div><!-- /.box -->



                   
             </div>
            <br/> 
      </div>
                
    </div>
  </section><!-- /.content -->
<!-- </div><!-- /.content-wrapper -->

