<div style="min-height:970px">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Contrato
      <small>Modificar Estado del Contrato</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-eye"></i> Contrato</a></li>
      <li class="active"><a href="#">Modificar Estado</a></li>
    </ol>
  </section>

  <section class="content">

    <div class="row col-lg-offset-1" style="padding-top: 5px;" >
      <div class="col-md-10">

        <div class="panel panel-info">
          <div class="panel-heading" ng-click="infoBasicaContratoIsCollapsed = !infoBasicaContratoIsCollapsed">
              Información básica del contrato
          </div>
            <div collapse="infoBasicaContratoIsCollapsed">
              <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                          <label>CI/Pasaporte</label>
                          <label class="form-control">{{contrato.ciCliente}}</label>
                          <p class="help-block"></p>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Tipo de documento</label>
                          <label class="form-control">{{contrato.tipoCi}}</label>
                          <p class="help-block"></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                          <label>Nombres</label> 
                          <label class="form-control">{{contrato.nombres}}</label>
                          <p class="help-block"></p>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                          <label>Apellidos</label> 
                          <label class="form-control">{{contrato.apellidos}}</label>
                          <p class="help-block"></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                      <label>Fecha de nacimiento</label>
                          <label class="form-control">{{contrato.fechaNacimiento}}</label>
                          <p class="help-block"></p> 
                      </div>
                    </div> 

                    <div class="col-lg-6">
                        <div class="form-group">
                          <label>Genero</label>
                          <label class="form-control">{{contrato.genero}}</label>
                          <p class="help-block"></p>
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                          <label>Telefono fijo</label> 
                          <label class="form-control">{{contrato.telefonoFijo}}</label>
                          <p class="help-block"></p>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                          <label>Celular</label> 
                          <label class="form-control">{{contrato.celular}}</label>
                          <p class="help-block"></p>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Email</label>
                      <label class="form-control">{{contrato.email}}</label>
                      <p class="help-block"></p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label>Tipo de tramite</label>
                        <label class="form-control">{{contrato.tipoTramite}}</label>
                        <p class="help-block"></p>
                      </div>
                  </div> 
                </div>
              </div>
            </div>

        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
              Modificar Estado del Contrato
          </div>
            <div class="panel-body">
              <form name="contratoForm" novalidate>
                <div class="box-body">
                  <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                            <label>Estado Actual</label>
                            <label class="form-control">{{contrato.estado}}</label>
                            <p class="help-block"></p>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>Estado Nuevo</label>
                            <select class="form-control" name="estado" ng-model="nuevoEstado.estado" >
                                <option value="">Seleccione un nuevo estado</option>
                                <option ng-repeat="estado in estados"  >{{estado}}</option>
                            </select>
                        </div>
                      </div>
                  </div>

                  <div class = "row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label>Motivo</label>
                        <textarea class="form-control" rows="5" ng-model="nuevoEstado.descripcion"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label>Comisión pagada</label>
                          <select class="form-control"  name="comision" ng-model="contrato.comision">
                              <option value="0">No</option>
                              <option value="1">Si</option>
                          </select>
                      </div>
                    </div>

                    <div class="col-lg-4" ng-show="nuevoEstado.estado == 'ACTIVO' || contrato.estado == 'ACTIVO'">
                      <div class="form-group">
                        <label>Mes de activación en ANTEL</label>
                          <select class="form-control"  name="mesActivacion" ng-model="nuevoEstado.mesActivacion">
                              <option value="">Enero</option>
                              <option value="1">Febrero</option>
                              <option value="2">Marzo</option>
                              <option value="3">Abril</option>
                              <option value="4">Mayo</option>
                              <option value="5">Junio</option>
                              <option value="6">Julio</option>
                              <option value="7">Agosto</option>
                              <option value="8">Setiembre</option>
                              <option value="9">Octubre</option>
                              <option value="10">Noviembre</option>
                              <option value="11">Diciembre</option>
                          </select>
                      </div>
                    </div>


                  </div>

                  <br/>
                    <br/>
                     <br/>
                  <div class="row">
                    <div class="col-lg-2">
                      <button class="btn btn-primary" type="submit" ng-click="modificarEstadoContrato()">Modificar</button>
                    </div>

                    <div class="col-lg-2">
                      <button class="btn btn-primary" type="submit" ng-show="checkRol(0)" ng-click="volver()">Volver</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
             
          
    
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->                    
                   
                